version: 2
updates:

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    labels: ["development"]

  - package-ecosystem: "npm"
    directory: '/ui/'
    schedule:
      interval: "weekly"
    labels: ["ui", "ui-dependency"]

  - package-ecosystem: "npm"
    directory: '/ui-v2/'
    schedule:
      interval: "weekly"
    labels: ["ui-replatform", "ui-v2-dependency"]
    groups:
      # This is the name of your group, it will be used in PR titles and branch names
      radix:
        patterns:
          - "@radix-ui*"
      eslint:
        patterns:
          - "@eslint*"
          - "eslint*"
      storybook:
        patterns:
          - "storybook"
          - "@storybook*"
      testling-library:
        patterns:
          - "@testing-library*"
      tanstack-react-query:
        patterns:
          - "@tanstack/react-query*"
          - "@tanstack/eslint-plugin-query"
      tanstack-react-router:
        patterns:
          - "@tanstack/router*"
          - "@tanstack/eslint-plugin-router"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels: ["development"]

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    labels: ["development"]

  # Check for Python updates in v2
  - package-ecosystem: "pip"
    target-branch: "2.x"
    directory: "/"
    schedule:
      interval: "daily"
    labels: ["development", "2.x"]
