[run]
branch = True

[report]
exclude_lines =
    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod

omit =
    src/prefect/orion/database/migrations/versions/*
    tests/*

ignore_errors = True

[html]
directory = coverage_html_report
