repos:
  - repo: https://github.com/fsouza/autoflake8
    rev: v0.4.0
    hooks:
      - id: autoflake8
        language_version: python3
        args: [
          '--in-place', 
          '--exclude','*/utilities/compat.py,*/utilities/slugify.py,**__init__.py',
        ]
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        language_version: python3
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        language_version: python3
