black
graphviz >= 0.8, < 0.14
jinja2 >= 2.0, < 3.0
mypy >= 0.600, < 0.800
pytest >= 5.0, < 5.2.3
pytest-cov >= 2.6, < 3.0
pytest-env >= 0.6.0, < 0.7.0
pytest-xdist >= 1.23, < 2.0
Pygments >= 2.2, < 3.0
