# Things to always exclude
global-exclude .git*
global-exclude .ipynb_checkpoints
global-exclude *.py[co]
global-exclude __pycache__/**

# Top-level Config
include LICENSE
include MANIFEST.in
include setup.cfg
include versioneer.py
include requirements.txt
include requirements-dev.txt
include src/prefect/_version.py
include src/prefect/py.typed
include src/prefect/profiles.toml
include src/prefect/.prefectignore
include src/prefect/logging/logging.yml
include src/prefect/cli/templates/*.yaml
include src/prefect/orion/collection_blocks_data.json

# Migrations
include src/prefect/orion/database/alembic.ini
include src/prefect/orion/database/migrations/*
include src/prefect/orion/database/migrations/versions/*
include src/prefect/orion/database/migrations/versions/*/*

# SQL templates
graft src/prefect/orion/database/sql

# Package files and data
graft src/prefect/orion/ui
graft src/prefect/orion/api/static
