include LICENSE
include src/prefect/config.toml
include src/prefect/cli/docker-compose.yml
include versioneer.py
include requirements.txt
include dev-requirements.txt
include test-requirements.txt
include src/prefect/_version.py
include src/prefect/_siginfo.py
include src/prefect/_sig29/*.txt
graft src/prefect/environments
graft src/prefect/agent
graft src/prefect/tasks/aws/waiters
