site_name: Prefect 2 - Coordinating the world's dataflows
site_url: https://docs.prefect.io/
repo_url: https://github.com/PrefectHQ/prefect
edit_uri: edit/main/docs
extra_css:
    - stylesheets/theme.css
    - stylesheets/admonitions.css
    - stylesheets/api_ref.css
    - stylesheets/rest_ref.css
    - stylesheets/syntax_highlights.css
    - stylesheets/termynal.css
    - stylesheets/extra.css
extra_javascript:
    - js/termynal.js
    - js/custom.js
markdown_extensions:
    - admonition
    - attr_list
    - codehilite
    - md_in_html
    - meta
    - pymdownx.highlight:
        use_pygments: true
    - pymdownx.superfences:
        custom_fences:
            - name: mermaid
              class: mermaid
              format: !!python/name:pymdownx.superfences.fence_code_format
    - pymdownx.details
    - pymdownx.tabbed
    - toc:
        permalink: true
    - pymdownx.snippets
    - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg

theme:
    name: material
    custom_dir: docs/overrides
    favicon: img/favicon.png
    features:
        - announce.dismiss
        - toc.integrate
        - navigation.tabs
        - navigation.tabs.sticky
        - search.suggest
        - search.highlight
    font:
        text: Inter
        code: Source Code Pro
    icon:
        repo: fontawesome/brands/github
    logo: img/logos/prefect-logo-mark-solid-white-500.png
    palette:
      - media: "(prefers-color-scheme)"
        toggle:
            icon: material/brightness-auto
            name: Switch to light mode
      - media: "(prefers-color-scheme: light)"
        accent: blue
        primary: blue
        scheme: default
        toggle:
            icon: material/weather-sunny
            name: Switch to dark mode
      - media: "(prefers-color-scheme: dark)"
        accent: blue
        primary: blue
        scheme: slate
        toggle:
            icon: material/weather-night
            name: Switch to light mode
plugins:
    mike:
    autorefs: {}
    mkdocstrings:
        # custom_templates: docs/templates
        handlers:
            python:
                options:
                    show_root_heading: True
                    show_object_full_path: False
                    show_category_heading: False
                    show_bases: True
                    show_submodules: False
                    show_if_no_docstring: False
                    show_signature: False
                    heading_level: 1
                    filters: ["!^_"]

    render_swagger: {}
    search: {}
    gen-files:
        scripts:
            - docs/collections/generate_catalog.py
            - docs/recipes/generate_catalog.py
watch:
    - mkdocs.yml
    - mkdocs.insiders.yml
    - src/prefect/
nav:
    # - Prefect 2: index.md
    - Getting Started:
        - Welcome to Prefect 2: index.md
        - Quick Start: getting-started/overview.md
        - Installation: getting-started/installation.md
        - Tutorials:
            - Prefect Fundamentals:
                - tutorials/first-steps.md
                - tutorials/flow-task-config.md
                - tutorials/execution.md
                - tutorials/orchestration.md
                - tutorials/deployments.md
                - tutorials/storage.md
                - tutorials/docker.md
                - Prefect Cloud Quickstart: ui/cloud-quickstart.md
            - Advanced Tutorials:
                - tutorials/testing.md
                - tutorials/dask-ray-task-runners.md
        - Migration Guide: migration-guide.md
        - Prefect Recipes: 
            - Recipes Catalog: recipes/recipes.md
            - Contributing Recipes: recipes/contribute-recipes.md
    - Concepts:
        - Overview: concepts/overview.md
        - Flows: concepts/flows.md
        - Tasks: concepts/tasks.md
        - Results: concepts/results.md
        - States: concepts/states.md
        - Infrastructure: concepts/infrastructure.md
        - Task Runners: concepts/task-runners.md
        - Deployments: concepts/deployments.md
        - Agents & Work Pools: concepts/work-pools.md
        - Storage: concepts/storage.md
        - Blocks: concepts/blocks.md
        - Filesystems: concepts/filesystems.md
        - Schedules: concepts/schedules.md
        - Logging: concepts/logs.md
        - Database: concepts/database.md
        - Settings: concepts/settings.md
    - Prefect UI & Prefect Cloud:
        - Prefect UI Overview: ui/overview.md
        - Prefect Cloud Overview: ui/cloud.md
        - Prefect Cloud Quickstart: ui/cloud-quickstart.md
        - Prefect Cloud Concepts: 
            - Manage API keys: ui/cloud-api-keys.md
            - Configure Local Environments: ui/cloud-local-environment.md
        - ui/flow-runs.md
        - ui/flows.md
        - ui/deployments.md
        - ui/work-pools.md
        - ui/blocks.md
        - ui/notifications.md
        - ui/task-concurrency.md
        - Workspaces: ui/workspaces.md
        - Automations: ui/automations.md
        - Organizations: ui/organizations.md
        - Service Accounts: ui/service-accounts.md
        - Roles (RBAC): ui/roles.md
        - Single Sign-on (SSO): ui/sso.md
        - Audit Log: ui/audit-log.md
        - Troubleshooting: ui/troubleshooting.md
        - Prefect Cloud API Rate Limits: ui/rate-limits.md
    - Integrations:
        - Collections Catalog: collections/catalog.md
        - Using Collections: collections/usage.md
        - Contributing Collections: collections/contribute.md
    - FAQ: faq.md
    - 'API Reference': 
        - Overview: api-ref/overview.md
        - Prefect Python API:
            - 'prefect.agent': api-ref/prefect/agent.md
            # - 'prefect.client': api-ref/prefect/client.md
            - 'prefect.context': api-ref/prefect/context.md
            - 'prefect.deployments': api-ref/prefect/deployments.md
            - 'prefect.engine': api-ref/prefect/engine.md
            - 'prefect.exceptions': api-ref/prefect/exceptions.md
            - 'prefect.filesystems': api-ref/prefect/filesystems.md
            - 'prefect.flows': api-ref/prefect/flows.md
            - 'prefect.futures': api-ref/prefect/futures.md
            - 'prefect.infrastructure': api-ref/prefect/infrastructure.md
            - 'prefect.logging': api-ref/prefect/logging.md
            - 'prefect.packaging': api-ref/prefect/packaging.md
            - 'prefect.serializers': api-ref/prefect/serializers.md
            - 'prefect.settings': api-ref/prefect/settings.md
            - 'prefect.states': api-ref/prefect/states.md
            - 'prefect.task_runners': api-ref/prefect/task-runners.md
            - 'prefect.tasks': api-ref/prefect/tasks.md
            - 'Blocks':
                - 'prefect.blocks.core': api-ref/prefect/blocks/core.md
                - 'prefect.blocks.kubernetes': api-ref/prefect/blocks/kubernetes.md
                - 'prefect.blocks.notifications': api-ref/prefect/blocks/notifications.md
                - 'prefect.blocks.system': api-ref/prefect/blocks/system.md
            - 'Client':
                - 'prefect.client.base': api-ref/prefect/client/base.md
                - 'prefect.client.cloud': api-ref/prefect/client/cloud.md
                - 'prefect.client.orchestration': api-ref/prefect/client/orchestration.md
                - 'prefect.client.schemas': api-ref/prefect/client/schemas.md
                - 'prefect.client.utilities': api-ref/prefect/client/utilities.md
            - 'Command Line Interface':
                - 'prefect.cli.agent': api-ref/prefect/cli/agent.md
                - 'prefect.cli.cloud': api-ref/prefect/cli/cloud.md
                - 'prefect.cli.concurrency_limit': api-ref/prefect/cli/concurrency_limit.md
                - 'prefect.cli.config': api-ref/prefect/cli/config.md
                - 'prefect.cli.dev': api-ref/prefect/cli/dev.md
                - 'prefect.cli.profile': api-ref/prefect/cli/profile.md
                - 'prefect.cli.work_queue': api-ref/prefect/cli/work_queue.md
                - 'prefect.cli.root': api-ref/prefect/cli/root.md
                - 'prefect.cli.deployment': api-ref/prefect/cli/deployment.md
                - 'prefect.cli.flow_run': api-ref/prefect/cli/flow_run.md
                - 'prefect.cli.server': api-ref/prefect/cli/server.md
            - 'Utilities':
                - 'prefect.utilities.annotations': api-ref/prefect/utilities/annotations.md
                - 'prefect.utilities.asyncutils': api-ref/prefect/utilities/asyncutils.md
                - 'prefect.utilities.processutils': api-ref/prefect/utilities/processutils.md
                - 'prefect.utilities.callables': api-ref/prefect/utilities/callables.md
                - 'prefect.utilities.collections': api-ref/prefect/utilities/collections.md
                - 'prefect.utilities.filesystem': api-ref/prefect/utilities/filesystem.md
                - 'prefect.utilities.hashing': api-ref/prefect/utilities/hashing.md
        - Prefect Server API:
            - 'API':
                - 'server.api.admin': api-ref/server/api/admin.md
                - 'server.api.dependencies': api-ref/server/api/dependencies.md
                - 'server.api.deployments': api-ref/server/api/deployments.md
                - 'server.api.flows': api-ref/server/api/flows.md
                - 'server.api.flow_runs': api-ref/server/api/flow_runs.md
                - 'server.api.flow_run_states': api-ref/server/api/flow_run_states.md
                - 'server.api.run_history': api-ref/server/api/run_history.md
                - 'server.api.saved_searches': api-ref/server/api/saved_searches.md
                - 'server.api.server': api-ref/server/api/server.md
                - 'server.api.task_runs': api-ref/server/api/task_runs.md
                - 'server.api.task_run_states': api-ref/server/api/task_run_states.md
            - 'Models':
                - 'server.models.flows': api-ref/server/models/flows.md
                - 'server.models.flow_runs': api-ref/server/models/flow_runs.md
                - 'server.models.flow_run_states': api-ref/server/models/flow_run_states.md
                - 'server.models.task_runs': api-ref/server/models/task_runs.md
                - 'server.models.task_run_states': api-ref/server/models/task_run_states.md
                - 'server.models.deployments': api-ref/server/models/deployments.md
                - 'server.models.saved_searches': api-ref/server/models/saved_searches.md
            - 'Orchestration':
                - 'server.orchestration.rules': api-ref/server/orchestration/rules.md
                - 'server.orchestration.policies': api-ref/server/orchestration/policies.md
                - 'server.orchestration.core_policy': api-ref/server/orchestration/core_policy.md
                - 'server.orchestration.global_policy': api-ref/server/orchestration/global_policy.md
            - 'Schemas':
                - 'server.schemas.actions': api-ref/server/schemas/actions.md
                - 'server.schemas.core': api-ref/server/schemas/core.md
                - 'server.schemas.filters': api-ref/server/schemas/filters.md
                - 'server.schemas.responses': api-ref/server/schemas/responses.md
                - 'server.schemas.schedules': api-ref/server/schemas/schedules.md
                - 'server.schemas.sorting': api-ref/server/schemas/sorting.md
                - 'server.schemas.states': api-ref/server/schemas/states.md
            - 'Services':
                - 'server.services.late_runs': api-ref/server/services/late_runs.md
                - 'server.services.loop_service': api-ref/server/services/loop_service.md
                - 'server.services.scheduler': api-ref/server/services/scheduler.md
            - 'Utilities':
                - 'server.utilities.database': api-ref/server/utilities/database.md
                - 'server.utilities.schemas': api-ref/server/utilities/schemas.md
                - 'server.utilities.server': api-ref/server/utilities/server.md
        - Prefect REST API: 
            - Prefect REST API Overview: api-ref/rest-api.md
            - Prefect REST API Reference: api-ref/rest-api-reference.md
    - Contributing:
        - Overview: contributing/overview.md
        - Style: contributing/style.md
        - Versioning: contributing/versioning.md
        - Troubleshooting: contributing/common-mistakes.md

extra:
    version:
        provider: mike
    analytics:
        provider: custom
        property: G-3M31G9B0QJ
    social:
        - icon: fontawesome/brands/slack
          link: https://www.prefect.io/slack/
        - icon: fontawesome/brands/discourse
          link: https://discourse.prefect.io/
        - icon: fontawesome/brands/youtube
          link: https://www.youtube.com/c/PrefectIO/videos
        - icon: fontawesome/regular/newspaper
          link: https://prefect.io/guide/
        - icon: fontawesome/brands/twitter
          link: https://twitter.com/PrefectIO
        - icon: fontawesome/brands/linkedin
          link: https://www.linkedin.com/company/prefect/
        - icon: fontawesome/brands/github
          link: https://github.com/PrefectHQ/prefect
        - icon: fontawesome/brands/docker
          link: https://hub.docker.com/r/prefecthq/prefect/
        - icon: fontawesome/brands/python
          link: https://pypi.org/project/prefect/