site_name: Prefect
docs_dir: docs/sdk

theme:
  name: material
  favicon: img/favicon.png
  features:
  - announce.dismiss
  - content.action.edit
  - content.code.copy
  - navigation.tabs.sticky
  - search.suggest
  - search.highlight
  - navigation.path
  - navigation.indexes
  - content.tabs.link
  font:
    text: Inter
    code: Source Code Pro
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
  logo: img/logos/prefect-logo-white.svg
  palette:
  - media: "(prefers-color-scheme: light)"
    accent: "#0225AC"
    primary: "#0225AC"
    scheme: default
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    accent: "#0225AC"
    primary: "#0225AC"
    scheme: slate
    toggle:
      icon: material/weather-night
      name: Switch to light mode

plugins:
- search
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        paths: [..]
