site_name: Prefect 2 - Coordinating the world's dataflows
site_url: https://docs.prefect.io/
repo_url: https://github.com/PrefectHQ/prefect
edit_uri: edit/main/docs
extra_css:
    - stylesheets/theme.css
    - stylesheets/admonitions.css
    - stylesheets/api_ref.css
    - stylesheets/rest_ref.css
    - stylesheets/syntax_highlights.css
    - stylesheets/termynal.css
    - stylesheets/extra.css
extra_javascript:
    - js/termynal.js
    - js/custom.js
markdown_extensions:
    - admonition
    - attr_list
    - codehilite
    - md_in_html
    - meta
    - pymdownx.highlight:
        use_pygments: true
    - pymdownx.superfences:
        custom_fences:
            - name: mermaid
              class: mermaid
              format: !!python/name:pymdownx.superfences.fence_code_format
    - pymdownx.details
    - pymdownx.tabbed
    - toc:
        permalink: true
    - pymdownx.snippets
theme:
    name: material
    custom_dir: docs/overrides
    favicon: img/favicon.png
    features:
        - announce.dismiss
        - toc.integrate
        - navigation.tabs
        - navigation.tabs.sticky
        - navigation.instant
        - search.suggest
        - search.highlight
    font:
        text: Inter
        code: Source Code Pro
    icon:
        repo: fontawesome/brands/github
    logo: img/logos/prefect-logo-mark-solid-white-500.png
    palette:
      - media: "(prefers-color-scheme)"
        toggle:
            icon: material/brightness-auto
            name: Switch to light mode
      - media: "(prefers-color-scheme: light)"
        accent: blue
        primary: blue
        scheme: default
        toggle:
            icon: material/weather-sunny
            name: Switch to dark mode
      - media: "(prefers-color-scheme: dark)"
        accent: blue
        primary: blue
        scheme: slate
        toggle:
            icon: material/weather-night
            name: Switch to light mode
plugins:
    autorefs: {}
    mkdocstrings:
        custom_templates: docs/templates
        handlers:
            python:
                options:
                    show_root_heading: True
                    show_object_full_path: False
                    show_category_heading: False
                    show_bases: False
                    heading_level: 1

    render_swagger: {}
    search: {}
    gen-files:
        scripts:
            - docs/collections/generate_catalog.py
            - docs/recipes/generate_catalog.py
watch:
    - mkdocs.yml
    - mkdocs.insiders.yml
    - src/prefect/
nav:
    # - Prefect 2: index.md
    - Getting Started:
        - Welcome to Prefect 2: index.md
        - Quick Start: getting-started/overview.md
        - Installation: getting-started/installation.md
        - Tutorials:
            - Prefect Fundamentals:
                - tutorials/first-steps.md
                - tutorials/flow-task-config.md
                - tutorials/execution.md
                - tutorials/orion.md
                - tutorials/deployments.md
                - tutorials/storage.md
                - tutorials/docker.md
                - Prefect Cloud: ui/cloud-getting-started.md
            - Advanced Tutorials:
                - tutorials/testing.md
                - tutorials/dask-ray-task-runners.md
        - Migration Guide: migration-guide.md
        - Prefect Recipes: recipes/recipes.md
    - Concepts:
        - Overview: concepts/overview.md
        - Flows: concepts/flows.md
        - Tasks: concepts/tasks.md
        - Results: concepts/results.md
        - States: concepts/states.md
        - Infrastructure: concepts/infrastructure.md
        - Task Runners: concepts/task-runners.md
        - Deployments: concepts/deployments.md
        - Agents & Work Queues: concepts/work-queues.md
        - Storage: concepts/storage.md
        - Blocks: concepts/blocks.md
        - Filesystems: concepts/filesystems.md
        - Schedules: concepts/schedules.md
        - Logging: concepts/logs.md
        - Database: concepts/database.md
        - Settings: concepts/settings.md
    - Prefect UI & Prefect Cloud:
        - Overview: ui/overview.md
        - ui/flow-runs.md
        - ui/flows.md
        - ui/deployments.md
        - ui/work-queues.md
        - ui/blocks.md
        - ui/notifications.md
        - Prefect Cloud:
            - Prefect Cloud Overview: ui/cloud.md
            - Prefect Cloud Quickstart: ui/cloud-getting-started.md
            - Workspaces: ui/workspaces.md
            - Organizations: ui/organizations.md
            - Service Accounts: ui/service-accounts.md
            - Roles (RBAC): ui/roles.md
            - Single Sign-on (SSO): ui/sso.md
            - Audit Log: ui/audit-log.md
            - Troubleshooting: ui/troubleshooting.md
    - Integrations:
        - Collections Catalog: collections/catalog.md
        - Using Collections: collections/usage.md
        - Contributing Collections: collections/contribute.md
    - FAQ: faq.md
    - 'API Reference': 
        - Overview: api-ref/overview.md
        - Prefect Python API:
            - 'prefect.agent': api-ref/prefect/agent.md
            - 'prefect.client': api-ref/prefect/client.md
            - 'prefect.context': api-ref/prefect/context.md
            - 'prefect.deployments': api-ref/prefect/deployments.md
            - 'prefect.engine': api-ref/prefect/engine.md
            - 'prefect.exceptions': api-ref/prefect/exceptions.md
            - 'prefect.filesystems': api-ref/prefect/filesystems.md
            - 'prefect.flows': api-ref/prefect/flows.md
            - 'prefect.futures': api-ref/prefect/futures.md
            - 'prefect.infrastructure': api-ref/prefect/infrastructure.md
            - 'prefect.logging': api-ref/prefect/logging.md
            - 'prefect.packaging': api-ref/prefect/packaging.md
            - 'prefect.serializers': api-ref/prefect/serializers.md
            - 'prefect.settings': api-ref/prefect/settings.md
            - 'prefect.states': api-ref/prefect/states.md
            - 'prefect.task_runners': api-ref/prefect/task-runners.md
            - 'prefect.tasks': api-ref/prefect/tasks.md
            - 'Blocks':
                - 'prefect.blocks.core': api-ref/prefect/blocks/core.md
                - 'prefect.blocks.kubernetes': api-ref/prefect/blocks/kubernetes.md
                - 'prefect.blocks.notifications': api-ref/prefect/blocks/notifications.md
                - 'prefect.blocks.system': api-ref/prefect/blocks/system.md
            - 'Command Line Interface':
                - 'prefect.cli.agent': api-ref/prefect/cli/agent.md
                - 'prefect.cli.cloud': api-ref/prefect/cli/cloud.md
                - 'prefect.cli.concurrency_limit': api-ref/prefect/cli/concurrency_limit.md
                - 'prefect.cli.config': api-ref/prefect/cli/config.md
                - 'prefect.cli.dev': api-ref/prefect/cli/dev.md
                - 'prefect.cli.profile': api-ref/prefect/cli/profile.md
                - 'prefect.cli.work_queue': api-ref/prefect/cli/work_queue.md
                - 'prefect.cli.root': api-ref/prefect/cli/root.md
                - 'prefect.cli.deployment': api-ref/prefect/cli/deployment.md
                - 'prefect.cli.flow_run': api-ref/prefect/cli/flow_run.md
                - 'prefect.cli.orion': api-ref/prefect/cli/orion.md
            - 'Utilities':
                - 'prefect.utilities.annotations': api-ref/prefect/utilities/annotations.md
                - 'prefect.utilities.asyncutils': api-ref/prefect/utilities/asyncutils.md
                - 'prefect.utilities.processutils': api-ref/prefect/utilities/processutils.md
                - 'prefect.utilities.callables': api-ref/prefect/utilities/callables.md
                - 'prefect.utilities.collections': api-ref/prefect/utilities/collections.md
                - 'prefect.utilities.filesystem': api-ref/prefect/utilities/filesystem.md
                - 'prefect.utilities.hashing': api-ref/prefect/utilities/hashing.md
        - Orion Python API:
            - 'API':
                - 'orion.api.admin': api-ref/orion/api/admin.md
                - 'orion.api.dependencies': api-ref/orion/api/dependencies.md
                - 'orion.api.deployments': api-ref/orion/api/deployments.md
                - 'orion.api.flows': api-ref/orion/api/flows.md
                - 'orion.api.flow_runs': api-ref/orion/api/flow_runs.md
                - 'orion.api.flow_run_states': api-ref/orion/api/flow_run_states.md
                - 'orion.api.run_history': api-ref/orion/api/run_history.md
                - 'orion.api.saved_searches': api-ref/orion/api/saved_searches.md
                - 'orion.api.server': api-ref/orion/api/server.md
                - 'orion.api.task_runs': api-ref/orion/api/task_runs.md
                - 'orion.api.task_run_states': api-ref/orion/api/task_run_states.md
            - 'Models':
                - 'orion.models.flows': api-ref/orion/models/flows.md
                - 'orion.models.flow_runs': api-ref/orion/models/flow_runs.md
                - 'orion.models.flow_run_states': api-ref/orion/models/flow_run_states.md
                - 'orion.models.task_runs': api-ref/orion/models/task_runs.md
                - 'orion.models.task_run_states': api-ref/orion/models/task_run_states.md
                - 'orion.models.deployments': api-ref/orion/models/deployments.md
                - 'orion.models.saved_searches': api-ref/orion/models/saved_searches.md
            - 'Orchestration':
                - 'orion.orchestration.rules': api-ref/orion/orchestration/rules.md
                - 'orion.orchestration.policies': api-ref/orion/orchestration/policies.md
                - 'orion.orchestration.core_policy': api-ref/orion/orchestration/core_policy.md
                - 'orion.orchestration.global_policy': api-ref/orion/orchestration/global_policy.md
            - 'Schemas':
                - 'orion.schemas.actions': api-ref/orion/schemas/actions.md
                - 'orion.schemas.core': api-ref/orion/schemas/core.md
                - 'orion.schemas.filters': api-ref/orion/schemas/filters.md
                - 'orion.schemas.responses': api-ref/orion/schemas/responses.md
                - 'orion.schemas.schedules': api-ref/orion/schemas/schedules.md
                - 'orion.schemas.sorting': api-ref/orion/schemas/sorting.md
                - 'orion.schemas.states': api-ref/orion/schemas/states.md
            - 'Services':
                - 'orion.services.late_runs': api-ref/orion/services/late_runs.md
                - 'orion.services.loop_service': api-ref/orion/services/loop_service.md
                - 'orion.services.scheduler': api-ref/orion/services/scheduler.md
            - 'Utilities':
                - 'orion.utilities.database': api-ref/orion/utilities/database.md
                - 'orion.utilities.schemas': api-ref/orion/utilities/schemas.md
                - 'orion.utilities.server': api-ref/orion/utilities/server.md
        - Prefect REST API: api-ref/rest-api.md
    - Contributing:
        - Overview: contributing/overview.md
        - Style: contributing/style.md
        - Versioning: contributing/versioning.md
        - Troubleshooting: contributing/common-mistakes.md

extra:
    analytics:
        provider: google
        property: G-3M31G9B0QJ
