site_name: Prefect 2.0
site_url: https://orion-docs.prefect.io
repo_url: https://github.com/PrefectHQ/prefect/tree/orion
edit_uri: ../../edit/orion/docs/
extra_css:
    - stylesheets/theme.css
    - stylesheets/admonitions.css
    - stylesheets/api_ref.css
    - stylesheets/rest_ref.css
    - stylesheets/syntax_highlights.css
    - stylesheets/termynal.css
    - stylesheets/extra.css
extra_javascript:
    - js/termynal.js
    - js/custom.js
markdown_extensions:
    - admonition
    - attr_list
    - codehilite
    - md_in_html
    - meta
    - pymdownx.highlight:
        use_pygments: true
    - pymdownx.superfences:
        custom_fences:
            - name: mermaid
              class: mermaid
              format: !!python/name:pymdownx.superfences.fence_code_format
    - pymdownx.tabbed
theme:
    name: material
    custom_dir: overrides
    favicon: img/favicon.ico
    features:
        - toc.integrate
        - navigation.tabs
        - navigation.tabs.sticky
        - navigation.instant
    font:
        text: Inter
        code: Source Code Pro
    icon:
        repo: fontawesome/brands/github
    logo: img/logos/prefect-2.0-logo-mark-white.png
    palette:
        primary: blue
        accent: blue
    custom_dir: docs/overrides
plugins:
    autorefs: {}
    mkdocstrings:
        custom_templates: docs/templates
        handlers:
            python:
                rendering:
                    show_root_heading: True
                    show_object_full_path: False
                    show_category_heading: False
                    show_bases: False
                    heading_level: 1
        watch:
            - src/prefect/
    render_swagger: {}
    search: {}
    gen-files:
        scripts:
            - docs/collections/generate_catalog.py
nav:
    - Home: index.md
    - 'Getting Started':
        - Overview: getting-started/overview.md
        - Installation: getting-started/installation.md
        - Tutorials:
            - tutorials/first-steps.md
            - tutorials/flow-task-config.md
            - tutorials/task-dependencies.md
            - tutorials/execution.md
            - tutorials/dask-ray-task-runners.md
            - tutorials/orion.md
            - tutorials/deployments.md
            - tutorials/virtual-environments.md
            - tutorials/docker-flow-runner.md
            - tutorials/kubernetes-flow-runner.md
            - tutorials/testing.md
    - Concepts:
        - Overview: concepts/overview.md
        - Flows: concepts/flows.md
        - Tasks: concepts/tasks.md
        - States: concepts/states.md
        - Task Runners: concepts/task-runners.md
        - Deployments: concepts/deployments.md
        - Flow Runners: concepts/flow-runners.md
        - Work Queues & Agents: concepts/work-queues.md
        - Schedules: concepts/schedules.md
        - Database: concepts/database.md
        - Storage: concepts/storage.md
        - Settings: concepts/settings.md
        - Logging: concepts/logs.md
    - UI & Prefect Cloud:
        - Overview: ui/overview.md
        - ui/dashboard.md
        - ui/flows-and-tasks.md
        - ui/filters.md
        - ui/work-queues.md
        - Prefect Cloud:
            - Overview: ui/cloud.md
            - Getting Started: ui/cloud-getting-started.md
    - Collections:
        - Overview: collections/overview.md
        - Collections Catalog: collections/catalog.md
    - FAQ: faq.md
    - 'API Reference': 
        - Overview: api-ref/overview.md
        - Prefect Python API: 
            - 'prefect.agent': api-ref/prefect/agent.md
            - 'prefect.client': api-ref/prefect/client.md
            - 'prefect.context': api-ref/prefect/context.md
            - 'prefect.deployments': api-ref/prefect/deployments.md
            - 'prefect.engine': api-ref/prefect/engine.md
            - 'prefect.exceptions': api-ref/prefect/exceptions.md
            - 'prefect.flow_runners': api-ref/prefect/flow-runners.md
            - 'prefect.flows': api-ref/prefect/flows.md
            - 'prefect.futures': api-ref/prefect/futures.md
            - 'prefect.logging': api-ref/prefect/logging.md
            - 'prefect.packaging': api-ref/prefect/packaging.md
            - 'prefect.serializers': api-ref/prefect/serializers.md
            - 'prefect.settings': api-ref/prefect/settings.md
            - 'prefect.states': api-ref/prefect/states.md
            - 'prefect.task_runners': api-ref/prefect/task-runners.md
            - 'prefect.tasks': api-ref/prefect/tasks.md
            - 'Blocks':
                - 'prefect.blocks.core': api-ref/prefect/blocks/core.md
                - 'prefect.blocks.storage': api-ref/prefect/blocks/storage.md
            - 'Command Line Interface':
                - 'prefect.cli.agent': api-ref/prefect/cli/agent.md
                - 'prefect.cli.cloud': api-ref/prefect/cli/cloud.md
                - 'prefect.cli.concurrency_limit': api-ref/prefect/cli/concurrency_limit.md
                - 'prefect.cli.config': api-ref/prefect/cli/config.md
                - 'prefect.cli.dev': api-ref/prefect/cli/dev.md
                - 'prefect.cli.profile': api-ref/prefect/cli/profile.md
                - 'prefect.cli.storage': api-ref/prefect/cli/storage.md
                - 'prefect.cli.work_queue': api-ref/prefect/cli/work_queue.md
                - 'prefect.cli.root': api-ref/prefect/cli/root.md
                - 'prefect.cli.deployment': api-ref/prefect/cli/deployment.md
                - 'prefect.cli.flow_run': api-ref/prefect/cli/flow_run.md
                - 'prefect.cli.orion': api-ref/prefect/cli/orion.md
            - 'Utilities':
                - 'prefect.utilities.asyncio': api-ref/prefect/utilities/asyncio.md
                - 'prefect.utilities.callables': api-ref/prefect/utilities/callables.md
                - 'prefect.utilities.collections': api-ref/prefect/utilities/collections.md
                - 'prefect.utilities.filesystem': api-ref/prefect/utilities/filesystem.md
                - 'prefect.utilities.hashing': api-ref/prefect/utilities/hashing.md
        - Orion Python API:
            - 'API':
                - 'orion.api.admin': api-ref/orion/api/admin.md
                - 'orion.api.dependencies': api-ref/orion/api/dependencies.md
                - 'orion.api.deployments': api-ref/orion/api/deployments.md
                - 'orion.api.flows': api-ref/orion/api/flows.md
                - 'orion.api.flow_runs': api-ref/orion/api/flow_runs.md
                - 'orion.api.flow_run_states': api-ref/orion/api/flow_run_states.md
                - 'orion.api.run_history': api-ref/orion/api/run_history.md
                - 'orion.api.saved_searches': api-ref/orion/api/saved_searches.md
                - 'orion.api.server': api-ref/orion/api/server.md
                - 'orion.api.task_runs': api-ref/orion/api/task_runs.md
                - 'orion.api.task_run_states': api-ref/orion/api/task_run_states.md
            - 'Models':
                - 'orion.models.flows': api-ref/orion/models/flows.md
                - 'orion.models.flow_runs': api-ref/orion/models/flow_runs.md
                - 'orion.models.flow_run_states': api-ref/orion/models/flow_run_states.md
                - 'orion.models.task_runs': api-ref/orion/models/task_runs.md
                - 'orion.models.task_run_states': api-ref/orion/models/task_run_states.md
                - 'orion.models.deployments': api-ref/orion/models/deployments.md
                - 'orion.models.saved_searches': api-ref/orion/models/saved_searches.md
            - 'Orchestration':
                - 'orion.orchestration.rules': api-ref/orion/orchestration/rules.md
                - 'orion.orchestration.policies': api-ref/orion/orchestration/policies.md
                - 'orion.orchestration.core_policy': api-ref/orion/orchestration/core_policy.md
                - 'orion.orchestration.global_policy': api-ref/orion/orchestration/global_policy.md
            - 'Schemas':
                - 'orion.schemas.actions': api-ref/orion/schemas/actions.md
                - 'orion.schemas.core': api-ref/orion/schemas/core.md
                - 'orion.schemas.data': api-ref/orion/schemas/data.md
                - 'orion.schemas.filters': api-ref/orion/schemas/filters.md
                - 'orion.schemas.responses': api-ref/orion/schemas/responses.md
                - 'orion.schemas.schedules': api-ref/orion/schemas/schedules.md
                - 'orion.schemas.sorting': api-ref/orion/schemas/sorting.md
                - 'orion.schemas.states': api-ref/orion/schemas/states.md
            - 'Services':
                - 'orion.services.late_runs': api-ref/orion/services/late_runs.md
                - 'orion.services.loop_service': api-ref/orion/services/loop_service.md
                - 'orion.services.scheduler': api-ref/orion/services/scheduler.md
            - 'Utilities':
                - 'orion.utilities.database': api-ref/orion/utilities/database.md
                - 'orion.utilities.functions': api-ref/orion/utilities/functions.md
                - 'orion.utilities.schemas': api-ref/orion/utilities/schemas.md
                - 'orion.utilities.server': api-ref/orion/utilities/server.md
        - Prefect REST API: api-ref/rest-api.md
    - Contributing: 
        - Overview: contributing/overview.md
        - Style: contributing/style.md
        - Troubleshooting: contributing/common-mistakes.md
        - Testing Flow Runners: contributing/testing-flow-runners.md

extra:
  analytics:
    provider: google
    property: G-3M31G9B0QJ
