# Netlify settings
#
# Other Netlify files:
# - runtime.txt: version of Python to build with
# - package-lock.json: indicates we need node && npm installed
#
# “base” is directory to change to before starting build. if you set base:
#    that is where we will look for package.json/.nvmrc/etc not repo root!
# “command” is your build command,
# “publish” is the directory to publish (relative to root of your repo),
#

[build]
base = ""
command = 'export GIT_SHA=$COMMIT_REF && pip install -e ".[dev]" && npm run docs:build-ci'
publish = "docs/.vuepress/dist"

[[redirects]]
from = "/orchestration/concepts/tokens.html"
to = "/orchestration/concepts/api_keys.html"
#
# redirect from /guide/core_concepts to /core/concepts
[[redirects]]
from = "/guide/core_concepts/*"
to = "/core/concepts/:splat"

# redirect from /core/task_library/ to /core/task_library/overview
[[redirects]]
from = "/core/task_library/"
to = "/core/task_library/overview.html"

## redirects for new Cloud / Server splits
#
# redirect from `cloud/cloud_concepts` to to `orchestration/concepts`
[[redirects]]
from = "/cloud/cloud_concepts/*"
to = "/orchestration/concepts/:splat"

# redirect from  `/cloud/concepts` to `orchestration/concepts`
[[redirects]]
from = "/cloud/concepts/*"
to = "/orchestration/concepts/:splat"

# redirect from `api/unreleased` to `api/latest`
[[redirects]]
from = "/api/unreleased/*"
to = "/api/latest/:splat"

# redirect from `core/tutorials` to `core/advanced_tutorials`
[[redirects]]
from = "/core/tutorials/*"
to = "/core/advanced_tutorials/:splat"

# redirect from `cloud/agent` to `orchestration/agents`
[[redirects]]
from = "/cloud/agent/*"
to = "/orchestration/agents/:splat"

# redirect from straight `cloud/` to `orchestration/`
[[redirects]]
from = "/cloud/"
to = "/orchestration/"

# redirect from subpages in `cloud` to subpages in `orchestration`
[[redirects]]
from = "/cloud/*"
to = "/orchestration/:splat"

# redirect from /guide to /core
[[redirects]]
from = "/guide/*"
to = "/core/:splat"

[[redirects]]
from = "/*"
status = 200
to = "/index.html"
