# Netlify settings
#
# Other Netlify files:
# - runtime.txt: version of Python to build with
#
# “command” is your build command,
#

[build]
base = ""
command = """
pip install --upgrade pip \
&& pip install --upgrade --upgrade-strategy eager  -e ".[dev]" \
&& pip install git+https://${MKDOCS_INSIDERS_PAT}@github.com/PrefectHQ/mkdocs-material-insiders.git; \
prefect dev build-docs  \
&& mkdocs build --config-file mkdocs.insiders.yml \
|| mkdocs build --config-file mkdocs.yml \
"""
publish = "site"

# moved page redirects #

[[redirects]]
  from = "/collections/overview/"
  to = "/collections/catalog/"
  status = 301

# redirect v1 traffic to docs-v1.prefect.io
[[redirects]]
  from = "/core/*"
  to = "https://docs-v1.prefect.io/core/:splat"
  status = 301

[[redirects]]
  from = "/orchestration/*"
  to = "https://docs-v1.prefect.io/orchestration/:splat"
  status = 301

[[redirects]]
  from = "/api/*"
  to = "https://docs-v1.prefect.io/api/:splat"
  status = 301

[[redirects]]
  from = "https://docs.prefect.io/migration_guide/"
  to = "https://docs.prefect.io/migration-guide/"
  status = 301

[[redirects]]
  from = "https://orion-docs.prefect.io/migration_guide/"
  to = "https://docs.prefect.io/migration-guide/"
  status = 301

[[redirects]]
  from = "https://orion-docs.prefect.io/*"
  to = "https://docs.prefect.io/:splat"
  status = 301
