ruff
cairosvg
codespell>=2.2.6
ipython
jinja2
moto >= 5
mypy >= 1.9.0
numpy
pillow
pre-commit
pluggy >= 1.4.0
pytest >= 8.3
pytest-asyncio >= 0.24
pytest-benchmark
pytest-codspeed
pytest-cov
pytest-env
pytest-flakefinder
pytest-timeout
pytest-xdist >= 3.6.1
pyyaml
redis>=5.0.1
setuptools
uv>=0.4.5
vale
vermin
virtualenv
watchfiles
respx

# type stubs
types-cachetools
types-PyYAML

# documentation
mkdocs
mkdocs-material
mkdocstrings[python]
mkdocs-gen-files
