-e ./src/integrations/prefect-aws
-e ./src/integrations/prefect-azure
-e ./src/integrations/prefect-bitbucket 
-e ./src/integrations/prefect-dask 
-e ./src/integrations/prefect-databricks 
-e ./src/integrations/prefect-dbt 
-e ./src/integrations/prefect-docker 
-e ./src/integrations/prefect-email 
-e ./src/integrations/prefect-gcp 
-e ./src/integrations/prefect-github 
-e ./src/integrations/prefect-kubernetes 
-e ./src/integrations/prefect-gitlab 
-e ./src/integrations/prefect-ray 
-e ./src/integrations/prefect-slack 
-e ./src/integrations/prefect-shell 
-e ./src/integrations/prefect-snowflake 
-e ./src/integrations/prefect-sqlalchemy