flake8
ipython
mkdocs
mkdocs-material
mkdocstrings
mock; python_version < '3.8'
mypy
pickle5 >= 0.0.11; python_version < '3.8'
pre-commit
pytest
pytest-asyncio >= 0.17
pytest-env
pytkdocs >= 0.13.0
requests
setuptools != 60.9.0; python_version < '3.8'
virtualenv
watchgod
