autoflake8
cairosvg
flake8
flaky
ipython
jinja2
mkdocs
mkdocs-gen-files
mkdocs-material
mkdocstrings-python-legacy
mock; python_version < '3.8'
moto
mypy
pillow
pre-commit
pytest > 7
pytest-asyncio >= 0.18.2
pytest-cov
pytest-benchmark
pytest-env
pytest-timeout
pytest-xdist
pytkdocs >= 0.14.2
pyyaml
requests
setuptools != 60.9.0; python_version < '3.8'
virtualenv
watchfiles
respx
