aiosqlite >= 0.17.0
alembic >= 1.7.5
anyio >= 3.4.0
apprise >= 1.1.0
asgi-lifespan >= 1.0
asyncpg >= 0.23
click >= 8.0, < 8.2
cloudpickle >= 2.0
coolname >= 1.0.4
croniter >= 1.0.12
cryptography >= 36.0.1
dateparser >= 1.1.1
docker >= 4.0
fastapi >= 0.70
fsspec >= 2022.5.0
griffe >= 0.20.0
httpx[http2] >= 0.23, != 0.23.2
importlib_metadata >= 4.4; python_version < '3.10'
jinja2 >= 3.0.0
jsonpatch >= 1.32
jsonschema >=3.2.0, <5.0.0
kubernetes >= 24.2.0
orjson >= 3.7
packaging >= 21.3
pathspec >= 0.8.0
pendulum >= 2.1.2
pydantic >= 1.10.0
python-slugify >= 5.0
pytz >= 2021.1
pyyaml >= 5.4.1
readchar >= 4.0.0
rich >= 11.0
sqlalchemy[asyncio] >= 1.4.22, != 1.4.33, < 2.0
toml >= 0.10.0
typer >= 0.4.2
typing_extensions >= 4.1.0
uvicorn >= 0.14.0
websockets >= 10.4
