aiofiles >= 0.7.0
aiosqlite >= 0.17.0
anyio >= 3.2.1
asyncpg >= 0.23
coolname >= 1.0.4
click >= 7.1.2
cloudpickle >= 1.5
croniter >= 1.0.1
distributed >= 2021.8.0
docker >= 4.0
fastapi >= 0.66
fsspec >= 2021.7.0
httpx >= 0.18
pendulum >= 2.1.2
pydantic >= 1.8.2
pyyaml >= 5.1b1
pytz >= 2021.1
rich >= 10.0
sqlalchemy[asyncio] >= 1.4.20
python-slugify >= 5.0
typer >= 0.4.0
typing_extensions >= 3.10.0.1
uvicorn  >= 0.14.0
