version: 2
jobs:
  # ----------------------------------
  # Check formatting
  # ----------------------------------

  check_formatting:
    docker:
      - image: python:3.6
    steps:
      - checkout
      - run:
          name: Install Black
          command: pip install black

      - run:
          name: Install mypy
          command: pip install mypy mypy_extensions

      - run:
          name: Run Black
          command: black --check .

      - run:
          name: Run mypy
          command: mypy src/

# test a standard install of prefect
# is importable in python 3.5.2
# there was a typing bug in 3.5.2 that this attempts to catch
  test-py352-import-prefect:
    docker:
      - image: python:3.5.2

    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install vanilla prefect
          command: pip install .

      - run:
          name: Test Prefect imports cleanly
          command: python -c "import prefect"

# test a standard install of prefect
# this ensures we correctly capture all ImportError sitautions
# caused by many package dependency options
  test-vanilla-prefect:
    docker:
      - image: python:3.6

    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install zsh for tests
          command: apt-get update && apt-get install -y zsh

      - run:
          name: Install vanilla prefect
          command: pip install .

      - run:
          name: Install testing packages
          command: pip install black coveralls pytest pytest-env

      - run:
          name: Run tests
          command: coverage run `which pytest` -k "not examples" && coveralls

  # ----------------------------------
  # Run unit tests in Python 3.5-3.7
  # ----------------------------------

  test-3.5:
    docker:
      - image: python:3.5

    # store steps as an alias to reuse them with different python versions
    steps: &run_test_steps
      - checkout
      - setup_remote_docker
      - run:
          name: Install zsh for tests
          command: apt-get update && apt-get install -y zsh

      - run:
          name: Install prefect
          command: pip install ".[all_extras]"

      - run:
          name: Run tests
          command: pytest

  test-3.6:
    docker:
      - image: python:3.6
    steps: *run_test_steps

  test-3.7:
    docker:
      - image: python:3.7
    steps: *run_test_steps

  test-airflow:
    docker:
      - image: continuumio/miniconda3
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install gcc
          command: apt-get update && apt-get install -y gcc

      - run:
          name: Create Airflow conda environment
          command: conda create -n airflow python=3.6 pip -y

      - run:
          name: Install Airflow 
          command: source activate airflow && SLUGIFY_USES_TEXT_UNIDECODE=yes pip install apache-airflow && source deactivate

      - run:
          name: Install prefect
          command: pip install ".[all_extras]"

      - run:
          name: Run tests w/ airflow
          command: pytest --airflow

workflows:
  version: 2
  run_all:
    jobs:
      - check_formatting
      - test-vanilla-prefect
      - test-py352-import-prefect
      - test-3.5
      - test-3.6
      - test-3.7
      - test-airflow
