@use '@prefect/miter-design/src/styles/abstracts/variables' as *;
@use 'sass:map';

.copy-link {
  border-radius: 4px;
  color: $primary !important;
  padding: 4px 8px;
  text-decoration: none;
  transition: all 50ms;
  user-select: none;

  &:hover,
  &:focus {
    color: $white !important;
    background-color: $grey-20;
  }

  &:active {
    background-color: $grey-40;
  }
}

.main-grid {
  display: grid;
  grid-template-areas:
    'details details schematic'
    'timeline timeline schematic'
    'timeline timeline schematic';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 70px);
  column-gap: 16px;
  row-gap: 16px;

  .details,
  .timeline,
  .schematic {
    height: 100%;
  }

  .details {
    grid-area: details;
  }

  .timeline {
    grid-area: timeline;
  }

  .schematic {
    grid-area: schematic;
  }
}

@media (max-width: map.get($breakpoints, 'md')) {
  .main-grid {
    grid-template-areas:
      'details'
      'schematic'
      'timeline';
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 70px 200px 250px;
  }
}
