/* vuepress 0.12.0+ split this into two APIs, custom styles have been migrated to style.styl */

// overriding default styles
$accentColor = #27b1ff;
$textColor = #4d606e;
$borderColor = #a5b4be;
$codeBgColor = #fbfcfd;