@use '@prefecthq/miter-design/src/styles/abstracts/variables' as *;
@use 'sass:map';

.result-badge {
  background-color: $white;
  border-radius: 16px;
  font-weight: 400;
  padding: 0 8px;
  min-width: 24px;
  transition: 150ms all;

  &.active {
    background-color: $primary;
    color: $white;
  }
}

.main-grid {
  display: grid;
  grid-template-areas:
    'details details radar'
    'timeline timeline radar'
    'timeline timeline radar'
    'timeline timeline radar';
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(4, 70px);
  column-gap: 16px;
  row-gap: 16px;

  .details,
  .timeline,
  .radar {
    height: 100%;
  }

  .details {
    grid-area: details;
  }

  .timeline {
    grid-area: timeline;
  }

  .radar {
    grid-area: radar;
  }
}

.timeline {
  // ☠️☠️☠️☠️ This prevents the timeline from overflowing padding/margins... REMOVE AT YOUR OWN RISK ☠️☠️☠️☠️
  .timeline-content {
    box-sizing: content-box;
    max-height: 194px;
  }

  &.full-screen {
    height: 60vh;

    .timeline-content {
      max-height: calc(60vh - 40px);
    }
  }
}

.results-hr {
  background-color: $grey-20;
  border: none;
  height: 2px;
}

@media (max-width: map.get($breakpoints, 'md')) {
  .main-grid {
    grid-template-areas:
      'details'
      'radar'
      'timeline';
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: 70px 200px 250px;
  }
}
