prefect-version: null
name: null

description: "Store project within a custom docker image alongside its runtime environment"

required_inputs:
  image_name: "The image name, including repository, to give the built Docker image"
  tag: "The tag to give the built Docker image"

build:
  - prefect_docker.projects.steps.build_docker_image:
      requires: "prefect-docker>0.1.0"
      image_name: "{{ image_name }}"
      tag: "{{ tag }}"
      dockerfile: "{{ dockerfile }}"

push: null

pull: 
  - prefect.projects.steps.set_working_directory:
      directory: "/opt/prefect/{{ name }}"
