@use '@prefect/miter-design/src/styles/abstracts/variables' as *;

.overlay {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100vh;
  position: absolute;
  width: 100vw;
  z-index: 9;
}

.drawer {
  background-color: $white;
  height: 100vh;
  min-width: 600px;
  overflow: hidden;
  //   overscroll-behavior: contain;
  position: absolute;
  right: 0;
  top: 0;
  width: 35%;
  will-change: transform;
  z-index: 10;

  .content {
    overflow: auto;
    min-height: 0;
  }

  .title-hr {
    border: none;
    background-color: $grey-10;
    height: 2px;
    left: -16px;
    position: relative;
    width: calc(100% + 30px);
  }
}

.slide-leave-active {
  animation: slide 0.15s reverse ease-in-out forwards;
}

.slide-enter-active {
  animation: slide 0.15s ease-in-out forwards;
}

@keyframes slide {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0);
  }
}
