@use '@prefecthq/miter-design/src/styles/abstracts/variables' as *;
@use '@prefecthq/miter-design/src/styles/abstracts/mixins' as mixins;

.observe {
  position: absolute;
  height: 16px;
  left: 0;
  opacity: 0;
  top: 0;
  width: 100px;
}

.bar-wrapper {
  height: 100%;
  margin: 16px 32px 16px 32px;
  position: sticky;
  top: 0;
  transition: all 150ms;
  left: 0;

  z-index: 9;

  &.detached {
    margin: 0;
    border-radius: 0;
  }

  @media (max-width: 640px) {
    margin: 0;
    border-radius: 0;

    &.detached {
      top: 62px;
    }
  }
}

.bar {
  background-color: #fff;
  box-shadow: $box-shadow-sm;
  border-radius: 4px;
  display: flex;
  font-size: 14px;
  width: 100%;

  &.menu-opened {
    border-radius: 4px 4px 0 0;
  }
}

.filter-menu {
  position: absolute !important;
  border-radius: 0 0 4px 4px;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 1;
}

.search-menu {
  position: absolute !important;
  border-radius: 0 0 4px 4px;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 1;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.1);
  // Note: this will only work in browsers that allow backdrop-filter, (so Chrome, Edge, and FF only if the experimental prop is enabled)
  backdrop-filter: blur(1px);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;
}

.filter-button {
  align-items: center;
  background-color: $white;
  border: none;
  cursor: pointer;
  display: flex;
  height: 100%;
  min-width: 52px;
  outline: none;

  &:hover,
  &:focus {
    background-color: $grey-10;
  }

  &:active {
    background-color: $grey-20;
  }

  $border-style: 2px solid $grey-10;

  &.objects {
    border-right: $border-style;
    border-radius: 4px 0 0 4px;
  }

  &.filters {
    border-left: $border-style;
    border-radius: 0 4px 4px 0;
  }

  &.saved-searches {
    border-left: $border-style;
  }
}

.filter-tag {
  @include mixins.miter(1, 1);

  > div {
    background-color: $blue-20;
    border-radius: 4px;
    color: $grey-80;
  }

  button {
    border-radius: 50%;
    border: none;
    color: $primary;
    cursor: pointer;
    outline: none;
    padding: 0;
    width: min-content;

    &:hover,
    &:focus {
      color: $primary-hover;
    }

    &:active {
      color: $primary-pressed;
    }
  }
}

.fade-slide-leave-active {
  animation: slide 0.1s reverse ease-in-out forwards;
  z-index: -1;
}

.fade-slide-enter-active {
  animation: slide 0.1s ease-in-out forwards;
  z-index: -1;
}

@keyframes slide {
  from {
    transform: translate(0, -50%);
  }

  to {
    transform: translate(0);
  }
}
