@use '@prefecthq/miter-design/src/styles/abstracts/variables' as *;

.observe {
  position: absolute;
  height: 16px;
  left: 0;
  opacity: 0;
  top: 0;
  width: 100px;
}

.bar {
  background-color: #fff;
  box-shadow: $box-shadow-sm;
  border-radius: 4px;
  display: flex;
  margin: 16px 32px 16px 32px;
  height: 100%;
  top: 0;
  transition: all 150ms;
  position: sticky;
  left: 0;
  // width: 100%;

  z-index: 9;

  &.detached {
    margin: 16px 0 0 0;
    border-radius: 0;
  }

  @media (max-width: 640px) {
    margin: 0;
    border-radius: 0;

    &.detached {
      top: 62px;
    }
  }
}
