@use '@prefecthq/miter-design/src/styles/abstracts/variables' as *;

.observe {
  position: absolute;
  height: 16px;
  left: 0;
  opacity: 0;
  top: 0;
  width: 100px;
}

.bar {
  background-color: #fff;
  box-shadow: $box-shadow-sm;
  border-radius: 4px;
  display: flex;
  font-size: 14px;
  height: 100%;
  margin: 16px 32px 16px 32px;
  position: sticky;
  top: 0;
  transition: all 150ms;
  left: 0;

  z-index: 9;

  &.detached {
    margin: 16px 0 0 0;
    border-radius: 0;
  }

  @media (max-width: 640px) {
    margin: 0;
    border-radius: 0;

    &.detached {
      top: 62px;
    }
  }
}

.search-input {
  height: 100%;

  > input {
    border: none;
    outline: none;
    height: 100%;
  }
}

.object-container,
.filter-container {
  position: relative;

  .filter-menu {
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.filter-button {
  align-items: center;
  background-color: $white;
  border: none;
  cursor: pointer;
  display: flex;
  height: 100%;
  outline: none;
  padding: 0 12px;

  &:hover,
  &:focus {
    background-color: $grey-10;
  }

  &:active {
    background-color: $grey-20;
  }

  &.objects {
    border-right: 2px solid $grey-10;
    border-radius: 4px 0 0 4px;
  }

  &.filters {
    border-left: 2px solid $grey-10;
    border-radius: 0 4px 4px 0;
  }
}
