@use '@prefecthq/miter-design/src/styles/abstracts/variables' as *;
@use '@prefecthq/miter-design/src/styles/abstracts/mixins' as mixins;
@use '@prefecthq/miter-design/src/styles/base/base';
@use '@prefecthq/miter-design/src/styles/base/spacing';
@use '@prefecthq/miter-design/src/styles/base/typography';
@use '@prefecthq/miter-design/src/styles/base/colors';

.filter-menu {
  border-radius: 0;
  position: relative;

  &__content {
    border-top: 1px solid $secondary-hover;
    border-radius: 0 !important;
    background-color: $grey-10;
    overscroll-behavior: contain;
    height: 100%;
    overflow: auto;

    @media (max-width: 640px) {
      width: 100%;
    }
  }

  &__actions {
    border-top: 1px solid $secondary-hover;
  }

  > ::v-deep(div) {
    border-radius: 0 0 3px 3px !important;
    max-height: inherit;
  }

  &__section-header {
    @extend .py-1;
    @extend .px-2;
    @extend .d-flex;
    @extend .align-center;
    @extend .font-weight-semibold;
    @extend .text--black;
  }

  &__section-header-icon {
    @extend .pi;
    @extend .pi-sm;
    @extend .mr-1;
  }

  &__flex-card {
    height: unset !important;

    > ::v-deep(div) {
      height: 100% !important;
    }
  }
}
