@use '@/styles/components/list-item.scss';

.chart-container {
  height: 52px;
  max-width: 175px;
}

.item--title {
  margin-bottom: 2px;
}

.item--duration {
  width: 100px;
}

.run-state {
  border-radius: 4px;
  padding: 2px 8px;
}

.tag-container {
  margin-top: 2px;
}
