@use 'sass:math';

// These are based on application-wide margins/padding; we might want to componentize these at some point
$margin: 32px !default;

@media (max-width: 640px) {
  $margin: -16px;
}

.container {
  overflow: auto;

  position: relative;
  margin-left: -$margin;
  padding: 4px $margin;
  margin-right: -$margin;
  width: calc(100% + #{$margin} * 2);
}

.results-list {
  min-width: 100%;
  min-height: calc(100% + #{$margin} / 2);
  padding-bottom: math.div($margin, 2);
}
