@use '@prefecthq/miter-design/src/styles/abstracts/variables' as *;

.chart-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;

  > svg {
    height: 100%;
    width: 100%;
  }

  .median {
    height: 1px;
    background-color: $blue-20;
    position: absolute;
    left: 0;
    top: -2;
    transition: top 150ms;
    width: 100%;
  }

  $r: 999px;

  .bar-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;

    .interval-bucket {
      position: absolute;
      transition: all 150ms;

      .up, .down {
        transform: translate(-50%)
      }

      .up {
        transform-origin: bottom;
      }

      .down {
        transform-origin: top;
      }

      .up,
      .down {
        position: absolute;

        .interval-bucket-state:first-of-type {
          border-top-left-radius: $r;
          border-top-right-radius: $r;
        }

        .interval-bucket-state:last-of-type {
          border-bottom-left-radius: $r;
          border-bottom-right-radius: $r;
        }
      }

      .interval-bucket-state {
        border-radius: 0;
        position: absolute;
        transition: all 150ms;
        transform-origin: inherit;
        z-index: 1;
      }
    }
  }
}
