@use '@prefect/miter-design/src/styles/abstracts/variables' as *;

.chart-container {
  height: 100%;
  overscroll-behavior: contain;
  overflow: auto;
  position: relative;
  width: 100%;

  .pan-button {
    position: absolute;
    z-index: 3;
    top: 0;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }

  svg.timeline-axis {
    background-color: $white;
    position: sticky;
    height: 38px;
    top: 0;
    pointer-events: none;
    z-index: 2;
  }

  svg.timeline-chart {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  .node-container {
    background-color: transparent;
    // height: 100%;
    // height: calc(100% - 24px);
    left: 0;
    position: absolute;
    top: 0;
    // width: 100%;
    // width: calc(100% - 24px);
    z-index: 1;

    .node {
      position: absolute;
      border-radius: 8px;

      &:focus,
      &:hover {
        border: 2px solid $primary;
        box-shadow: $box-shadow-md;
        outline: none;
      }
    }
  }
}
