.chart-container {
  height: 100%;
  position: relative;
  overscroll-behavior: contain;
  overflow: auto;
  width: 100%;

  svg {
    height: 100%;
    width: 100%;
  }

  .node-container {
    background-color: transparent;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;

    .node {
      position: absolute;
    }
  }
}
