@use 'sass:math';

.nowrap {
  white-space: nowrap !important;
}

$positions: 'relative', 'absolute', 'fixed', 'static', 'sticky', 'initial';

@each $position in $positions {
  .position-#{$position} {
    position: #{$position};
  }
}

@for $i from -20 through 20 {
  $key: if(math.div($i, math.abs($i)) == 1 or $i == 0, $i, 'n#{-$i}');

  @debug $key;

  .z-#{$key} {
    z-index: $i;
  }
}
