@use '@prefecthq/miter-design/src/styles/abstracts/variables' as *;

.table {
  font-size: 14px;

  td:not(:first-child) {
    padding-left: var(--p-1);
  }
}

.table--data {
  td:last-child {
    font-family: $font--secondary;
    font-size: 12px;
  }
}