@use '../abstracts/variables';

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
.body {
  color: variables.$text--primary;
  font-family: variables.$font--secondary !important;
  font-size: 16px;
  letter-spacing: -0.41px;
  line-height: 24px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: variables.$black;
  font-family: variables.$font--primary !important;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

h1,
.header {
  font-size: 24px;
  letter-spacing: 0.4px;
  line-height: 48px;
}

h2,
.subheader {
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 40px;
}

h3,
.title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.24px;
  line-height: 34px;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}

.caption {
  font-size: 13px;
  letter-spacing: -0.09px;
  line-height: 18px;
}

.caption-small {
  font-size: 11px;
  letter-spacing: -0.09px;
  line-height: 15px;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-decoration-none {
  text-decoration: none;
}

.text-decoration-overline {
  text-decoration: overline;
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-decoration-line-through,
.text-decoration-strikethrough {
  text-decoration: line-through;
}
