/* styling that applies only to the Python API reference documentation */

:root {
    --gray-1: #EBEEF7;
    --gray-2: #8EA0AE;
    --pink-1: rgba(254, 81, 150, 0.3);
    --pink-2: #fe5196;
}

.doc.doc-class h2,
.doc.doc-function h2,
.doc.doc-method h3 {
    border-bottom: 2px solid var(--gray-2);
}

.doc.doc-module > h1 {
    font-size: 32px;
    font-weight: bold;
}

.doc.doc-class h2,
.doc.doc-function h2 {
    font-size: 28px;
}

.doc.doc-method h3 {
    font-size: 24px;
}

.doc.doc-class > h2:before,
.doc.doc-function > h2:before,
.doc.doc-method > h3:before {
    color: var(--gray-2);
    font-size: 14px;
    font-weight: 900;
    text-transform: lowercase;
}

.doc.doc-class > h2:before {
    content: "class";
}

.doc.doc-function > h2:before {
    content: "function";
}

.doc.doc-method > h3:before {
    content: "method";
}

.doc h2, .doc h3, .doc h4 {
    font-family: Inter;
    margin-bottom: 12px;
    white-space: nowrap;
    overflow-x: auto;
}

.doc.doc-class .doc-contents { 
    padding-bottom: 8px; 
    padding-left: 28px;
}

.doc p, .doc em, .doc li {
    font-size: 14px;
    margin-top: 4px;
}

.highlight code {
    font-size: 12px;
    background-color: var(--gray-1);
}

details.quote:not([open]),
details.quote[open] {
    border-color: var(--pink-2);
}

details.quote:not([open]) > summary,
details.quote[open] > summary {
    background-color: var(--pink-1);
    border-color: var(--pink-2);
    border-radius: 0;
}

details.quote:not([open]) > summary:before,
details.quote:not([open]) > summary:after,
details.quote[open] > summary:before,
details.quote[open] > summary:after {
    background-color: var(--pink-2);
}

details.quote:not([open]) > summary > code,
details.quote[open] > summary > code {
    background: transparent;
}

.admonition.note{
    border-radius: 0;
}

.prefect-table {
    width: 100%;
    border-collapse: collapse;
    border-left: .2rem solid var(--gray-2);
    margin-bottom: 18px;
}

.prefect-table code {
    font-size: 14px;
}

.prefect-table tr {
    border-bottom: 1px solid var(--gray-1);
}

.prefect-table tr:last-child {
    border: 0;
}

.prefect-table th {
    text-align: left;
    padding: 4px 10px;
    background-color: var(--gray-1);   
}

.prefect-table td {
    padding: 2px 10px;
}

.prefect-table td, .prefect-table th {
    font-size: 14px;
    vertical-align: text-top;
}

/* special, private, property, and read-only tags */
.doc-property { display: none; }

/* arguments & returns tables */
.doc-contents table td { font-size: 1.15em; }

/* bold the argument name column */
.doc-contents table td:nth-child(1) { font-weight: bold; }
