/* Prefect Overrides */

/* Code block background and highlight */
:root > * {
    /* theme */ 
    --md-primary-fg-color: #115AF4;
    --md-primary-fg-color--light: #115AF4;
    --md-primary-fg-color--dark:  #115AF4;  
  }

/* code block margin and padding  */
.highlight > pre > code {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* adjust clipboard button to accommodate margin and padding */
.md-clipboard {
    top: 1.5rem;
    color: #a2a2a2b1;
}

.terminal:hover .md-clipboard {
    color: #a2a2a2;
}

/* terminal code block formatting */
.terminal {  
    --md-code-bg-color: #252a33;
    --md-code-fg-color: #eee;
    --md-code-hl-color: #4a556a;
    line-height: 120%;
}

/* give terminal code a little more padding to look less crowded */
.terminal > .highlight > pre > code {
    padding-top: 30px;
    padding-bottom: 25px;
}

.terminal button {
    -webkit-tap-highlight-color: #a2a2a2;
    color: #a2a2a2b1;
    outline: none;
}

/* Image drop shadow, separates browser from background */
img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    filter: drop-shadow(0.2rem 0.2rem 0.3rem rgba(0,0,0,0.2))
}

/* remove margin just for the top nav logo */
.md-logo img {
    margin-top: 0;
    margin-bottom: 0;
}

/* push "go to prefect cloud" */
.cloud-link {
    margin-left: auto;
}

/* Table formatting */
.md-typeset table:not([class]) {
    font-size: .8rem;
}
.md-typeset table:not([class]) td {
    padding: 0.5em 1.25em;
}
.md-typeset table:not([class]) th {
    padding: 0.5em 1.25em;
}

/* convenience class to keep lines from breaking
useful for wrapping table cell text in a span
to force column width */
.no-wrap {
    white-space: nowrap;
}

/* collections and recipes catalogs */
.collection-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    gap: .5rem; 
}

.collection-item {
    padding: 1rem; 
    margin: .2rem;
    box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, .3); 
    border-radius: 5px;
}

.collection-item img {
    max-height: 100px; 
    max-width: 100px;
}

.recipe-grid {
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: .5rem; 
    margin: 1rem 0 3rem;
}

.recipe-item {
    padding: 1rem; 
    margin: .2rem;
    box-shadow: 0 6px 16px rgba(0, 0, 0, .3); 
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe-item img {
    max-height: 48px; 
    max-width: 48px; 
    margin: 0 0.5em 0 auto;
}

.recipe-desc p {
    vertical-align: text-top;
    vertical-align: top;
    font-size: 0.8rem;
}

.recipe-details {
    margin-top: 1rem;
    font-size: 0.6rem;
}

/* badge formatting */
.badge::before {
    background-color: #1860F2;
    color: white;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 4px 8px;
    margin-left: 0.5rem;
    vertical-align: super;
    text-align: center;
    border-radius: 5px;
}

.badge-api::before {
    background-color: #1860F2;
    color: white;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}

.experimental::before {
    background-color: #fccc3e;
    content: "Experimental";
}

.cloud::before {
    background-color: #799AF7;
    content: "Prefect Cloud";
}

.orgs::before {
    background-color: #5f79c2;
    content: "Organizations";
}

.enterprise::before {
    background-color: #115AF4;
    content: "Enterprise";
}

.deprecated::before {
    background-color: #FA1C2F;
    content: "Deprecated";
}

.new::before {
    background-color: #2AC769;
    content: "New";
}

.expert::before {
    background-color: #726576;
    content: "Advanced";
}

/* dark mode slate theme */
/* dark mode code overrides */
[data-md-color-scheme="slate"] {
    --md-code-bg-color: #252a33;
    --md-code-fg-color: #eee;
    --md-code-hl-color: #3b3d54;
    --md-code-hl-name-color: #eee;
}

/* dark mode link overrides */
[data-md-color-scheme="slate"] .md-typeset a {
    color: var(--blue);
}

[data-md-color-scheme="slate"] .md-typeset a:hover {
    font-weight: bold;
}

/* dark mode nav overrides */
[data-md-color-scheme="slate"] .md-nav--primary .md-nav__item--active>.md-nav__link {
    color: var(--blue);
    font-weight: bold;
}

[data-md-color-scheme="slate"] .md-nav--primary .md-nav__link--active {
    color: var(--blue);
    font-weight: bold;
}

/* dark mode collection catalog overrides */
[data-md-color-scheme="slate"] .collection-item {
    background-color: #3b3d54;
}

[data-md-color-scheme="slate"] .collection-item img {
    filter: drop-shadow(1px 1px 8px rgba(172, 182, 255, 0.35));
}

/* dark mode recipe collection overrides */
[data-md-color-scheme="slate"] .recipe-item {
    background-color: #3b3d54;
}

/* dark mode API doc overrides */
[data-md-color-scheme="slate"] .prefect-table th {
    background-color: #3b3d54;
}
