### Pip Freeze Diffs

[![pip freeze diff](https://shields.io/badge/pip%20freeze-diff-green&style=flat)](https://stoat.dev/diffs/github?ghOwner=stoat-dev&ghRepo=prefect&ghBranch={{ metadata.github.branch }}&ghPullRequest={{ metadata.github.pull_request }}&ghDefaultBranch=main&files=pip_freeze)

<table>
  <tr>
    <th></th>
    <th><img alt="Postgres 13" src="https://shields.io/badge/13-white?labelColor=4169E1&logo=postgresql&logoColor=white&style=plastic" /></th>
    <th><img alt="Postgres 14" src="https://shields.io/badge/14-white?labelColor=4169E1&logo=postgresql&logoColor=white&style=plastic" /></th>
    <th><img alt="Sqlite 3" src="https://shields.io/badge/3-white?labelColor=003B57&logo=sqlite&logoColor=white&style=plastic" /></th>
  </tr>
  <tr>
    <td><img alt="Python 3.7" src="https://shields.io/badge/3.7-white?labelColor=3776AB&logo=python&logoColor=white&style=plastic" /></td>
    <td>default &bull; services</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><img alt="Python 3.8" src="https://shields.io/badge/3.8-white?labelColor=3776AB&logo=python&logoColor=white&style=plastic" /></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><img alt="Python 3.9" src="https://shields.io/badge/3.9-white?labelColor=3776AB&logo=python&logoColor=white&style=plastic" /></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><img alt="Python 3.10" src="https://shields.io/badge/3.10-white?labelColor=3776AB&logo=python&logoColor=white&style=plastic" /></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><img alt="Python 3.11" src="https://shields.io/badge/3.11-white?labelColor=3776AB&logo=python&logoColor=white&style=plastic" /></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
