# debug mode
debug = false

# base configuration directory (typically you won't change this!)
home_dir = "~/.prefect"


[cloud]
# the Prefect Server address
api = "https://api.prefect.io"
graphql = "${cloud.api}/graphql/alpha"
use_local_secrets = true
heartbeat_interval = 30.0

# rate at which to batch upload logs
logging_heartbeat = 5

queue_interval = 30.0

    [cloud.agent]
    name = "agent"
    labels = "[]"

    # Set to `DEBUG` for verbose logging
    level = "INFO"

    # Agents require different API tokens
    auth_token = ""

        [cloud.agent.resource_manager]
        # Separate loop interval for resource managers
        loop_interval = 60


[logging]
# The logging level: NOTSET, DEBUG, INFO, WARNING, ERROR, or CRITICAL
level = "INFO"

# The log format
format = "[%(asctime)s] %(levelname)s - %(name)s | %(message)s"

# Send logs to Prefect Cloud
log_to_cloud = false

# Extra loggers for Prefect log configuration
extra_loggers = "[]"

[flows]
# If true, edges are checked for cycles as soon as they are added to the flow. If false,
# cycles are only checked when tasks are sorted (for example, when running or
# serializing the flow). Defaults to false because it can affect the performance of
# large flows.
eager_edge_validation = false
# If true, `flow.run` will run on schedule by default.
# If false, only a single execution will occur (no retries, etc.)
run_on_schedule = true
# If true, tasks which set `checkpoint=True` will have their result handlers called
checkpointing = false

    [flows.defaults]
        [flows.defaults.storage]

        # the default storage class, specified using a full path
        default_class = "prefect.environments.storage.Local"

[tasks]

    [tasks.defaults]
    # the number of times tasks retry before they fail.
    # false indicates that tasks should never retry (equivalent to max_retries = 0)
    max_retries = false

    # the amount of time tasks should wait before retrying, in seconds.
    # false indicates that tasks have no default value (users must specify one to set it)
    retry_delay = false


[engine]

    [engine.executor]

    # the default executor, specified using a full path
    default_class = "prefect.engine.executors.LocalExecutor"

        [engine.executor.dask]
        # the default scheduler address for the DaskExecutor. Set to "local" to configure
        # a LocalCluster
        address = "local"
        # whether to use multiprocessing or not (only applied if address is "local")
        local_processes = false

    [engine.flow_runner]
    # the default flow runner, specified using a full path
    default_class = "prefect.engine.flow_runner.FlowRunner"

    [engine.task_runner]
    # the default task runner, specified using a full path
    default_class = "prefect.engine.task_runner.TaskRunner"
