name: Create prefect-helm release

on:
  # As soon as this repo creates an official release, we will
  # create a corresponding release in the helm chart repo
  release:
    types: [released]

jobs:
  create_helm_release:
    runs-on: ubuntu-latest
    steps:
      - name: Get today's formatted date
        id: get_date
        run: echo "value=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
      - name: Create prefect-helm release
        run: |
          gh release create ${{ steps.get_date.outputs.value }} \
            --repo PrefectHQ/prefect-helm \
            --generate-notes \
            --notes "Packaged with Prefect version \
            [${{ github.ref_name }}](https://github.com/PrefectHQ/prefect/releases/tag/${{ github.ref_name }})"
        env:
          GH_TOKEN: ${{ secrets.HELM_REPO_TOKEN }}
