name: Integration Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"
          cache-dependency-path: "requirements*.txt"

      - name: Install python packages
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade --upgrade-strategy eager -e .[dev]
          
      - name: Build orion-ui
        run: |
          prefect dev build-ui
          
      - name: Start orion
        run: |
          prefect orion start &

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache-dependency-path: '**/package-lock.json'
      
      - name: Create deployment
        run: | 
          prefect deployment build ./orion-ui/tests/dateTimeFlow.py:datetime_flow -n dateTime
      
      - name: Get Playwright version
        id: playwright-cache-key
        run: |
          echo "::set-output name=version::$(npx playwright -V)"
        
      - name: Cache Playwright Browsers
        id: cache-playwright-browsers
        uses: actions/cache@v3
        with:
          path: ~/.cache/ms-playwright
          key: ${{ steps.playwright-cache-key.outputs.version }}-playwright-browsers

      - name: Install Playwright Browsers
        working-directory: ./orion-ui
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        working-directory: ./orion-ui
        run: npx playwright test

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: ./orion-ui/playwright-report/
          retention-days: 30
