---
  name: Update to latest Prefect Packages
  on:
    workflow_dispatch:
      inputs:
        package_name:
          description: The name of the Prefect package to update
          required: true
        package_version:
          description: The version of the Prefect package to update
          required: true
  permissions: {} 
  
  jobs:
    update_prefect_packages:
      runs-on: ubuntu-latest
      permissions:
        # required to write to the repo
        contents: write
      steps:
        - uses: actions/checkout@v6
  
        - name: Configure Git
          run: |
            git config user.name "$GITHUB_ACTOR"
            git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
  
        - name: Create Branch For Dependency Version Updates
          run: git checkout -b "prefect-package-${PACKAGE_NAME}-${PACKAGE_VERSION}-update"
          env:
            PACKAGE_NAME: ${{ inputs.package_name }}
            PACKAGE_VERSION: ${{ inputs.package_version }}
  
        - name: Setup NodeJS 
          uses: actions/setup-node@v6
          with:
            node-version-file: ".nvmrc"
            cache-dependency-path: "**/package-lock.json"
  
        - name: Install Dependencies
          run: npm ci
          working-directory: ./ui
  
        - name: Upgrade Package
          run: |
            npm i "@${PACKAGE_NAME}@${PACKAGE_VERSION}" --save-exact
          working-directory: ./ui
          env:
            PACKAGE_NAME: ${{ inputs.package_name }}
            PACKAGE_VERSION: ${{ inputs.package_version }}
  
        - name: Commit Package Changes
          run: |
            git add .
            git commit -m "Update @${PACKAGE_NAME} to version ${PACKAGE_VERSION}"
            git push --set-upstream origin "prefect-package-${PACKAGE_NAME}-${PACKAGE_VERSION}-update"
          env:
            PACKAGE_NAME: ${{ inputs.package_name }}
            PACKAGE_VERSION: ${{ inputs.package_version }}
            GITHUB_TOKEN: ${{ github.token }}
        
        - name: Create Pull Request
          run: |
            git checkout "prefect-package-${PACKAGE_NAME}-${PACKAGE_VERSION}-update"
            gh pr create \
            --base main \
            --title "Update @${PACKAGE_NAME} to version ${PACKAGE_VERSION}" \
            --body "Update @${PACKAGE_NAME} to version ${PACKAGE_VERSION}.
            Release information can be found at https://github.com/${PACKAGE_NAME}/releases/tag/${PACKAGE_VERSION}." \
            --label development \
            --label ui
          env:
            PACKAGE_NAME: ${{ inputs.package_name }}
            PACKAGE_VERSION: ${{ inputs.package_version }}
            GITHUB_TOKEN: ${{ secrets.UI_COMPONENTS_CONTENTS_PRS_RW }}
  